<%+header%>

	<fieldset class="cbi-section" style="display:none">
		<legend id="diag-rc-legend"><%:Processing ...%></legend>
		<span id="diag-rc-output"></span>
	</fieldset>

    
	<% if display_form == 'yes' then %>
      <div id='step_two_id' >
                <form name="step_two">
                        <% if server_list  then %>
													 <label >Server List:</label><br />
                           <select name="s_list" style="with:auto">
                                <option value='' selected="selected">choose a server</option>
                                <% for i = 1, #server_list do %>
                                    <%= '<option value="' .. server_list[i].id ..'">' .. server_list[i].name .. '</option>' %>
                                <% end %>
                            </select>
									  				<input type="button" value="<%:submit%>" class="cbi-button cbi-button-apply" onclick="update_status('step_two', this.form.s_list.value)" />
                        <% end %>
                </form>
	</div>
<% end %>




<% if is_worked == 'yes' then %>

	<fieldset class="cbi-section">
		<span>Done! Sever changed to <%= server %></span>
	</fieldset>

	<% elseif is_worked == 'no'  %>

	<fieldset class="cbi-section">
		<span>Something goes wrong! Try again.</span>
	</fieldset>

<% end %>

<%+footer%>



<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	function update_status(step, value)
	{
		var choose_one = value ||  "false" ;

		var legend = document.getElementById('diag-rc-legend');
		var output = document.getElementById('diag-rc-output');

		if (legend && output)
		{
			if ( step == 'step_one') {
				output.innerHTML =
				'<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
				'<%:Geting  the latest server list. Please be patient%>'
			;
	  		legend.parentNode.style.display = 'block';
	  		legend.style.display = 'inline';

	  	  self.location = "<%=controller%>/admin/migrate_server?" + step + "=ok";
			} else { 
		      document.getElementById('step_two_id').style.display = 'none'
					output.innerHTML =
				'<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
				'<%:Migrating  your  server. Please be patient%>'
			;		  
		  	legend.parentNode.style.display = 'block';
	  		legend.style.display = 'inline';

				self.location = "<%=controller%>/admin/migrate_server?" + step + "=ok" + "&chosen_one=" + choose_one;
			}
		}
	}

	<% if display_js == 'yes' then %>
    document.ready = update_status('step_one')
	<% end %>

//]]></script>
