<%+header%>
<h2><a id="content" name="content">检测</a></h2>
<h3><%:Testing%></h3>
<p><%:Testing the operating system of your device%></p>
<p><a id="perform" class="cbi-button cbi-button-apply" href="<%=controller%>/admin/one_click?perform=1"><%:Perform Testing%></a></p>

<fieldset class="cbi-section">
	<legend><%:Cable%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%" style="vertical-align:top">网线连接是否正常</td><td>
			<table><tr>
					<td class="test_result" style="vertical-align:middle; padding: 3px"><em><%= cable or '尚未检测，单击“Perform Testing”开始检测'%></em></td>
			</tr></table>
		</td></tr>
	</table>
</fieldset>


<fieldset class="cbi-section">
	<legend><%:China Network%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%" style="vertical-align:top">国内网站是否正常</td><td>
			<table><tr>
					<td class="test_result" style="vertical-align:middle; padding: 3px"><em><%= baidu or '尚未检测，单击“Perform Testing”开始检测'%></em></td>
			</tr></table>
		</td></tr>
	</table>
</fieldset>


<fieldset class="cbi-section">
	<legend><%:Outside Network%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%" style="vertical-align:top">国外网站是否正常</td><td>
			<table><tr>
					<td class="test_result" style="vertical-align:middle; padding: 3px"><em><%= google or '尚未检测，单击“Perform Testing”开始检测'%></em></td>
			</tr></table>
		</td></tr>
	</table>
</fieldset>
    <script type="text/javascript">
        var btnClick = document.getElementById('perform');
        btnClick.onclick = function showMessage() {
            alert('This could take some time, be patient');  
						this.style.display='none';
						var class_array = document.getElementsByClassName('test_result'); 
						for (var i=0; i < 3; i++)
						{
      				class_array[i].innerHTML =
      				'<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
      				'<%:Waiting for command to complete...%>'
      			;
						}
        };
    </script>
<%+footer%>
